body{
    margin: 0;
    background-color: #000814;
    /* background-color: white; */
    color: #ffc300 ;
    text-shadow: 3px 2px 1px #000000 , 5px 5px 4px #CE5937;                
    font-size: 1.5vw;
    font-family: monospace;
   
}
#headerContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    text-align: center;
}

span{
    margin-left: 0.3em;
}

#title{
    display: flex;
    flex-wrap: nowrap;
    font-size: clamp(1.5rem, 5vw ,5rem);
    font-family: 'Gajraj One', cursive;
}

#monke{
    aspect-ratio: 1;
    height: clamp(15rem, 15em + 1rem , 20rem);
    /* width: 20em; */
    background-size: 102%;
    background-image: url('./MonkePic.jpg') ;
    border-radius: 5%;
    box-shadow: 0px 0px 13px 1px #ffd60a;
}

#buttonsMainContainer{
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#buttonsContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
}
.row{
    display: flex;
}

.button{
    /* margin-bottom: 5px; */
    margin: 5px;
    aspect-ratio: 1;
    height: clamp(7rem, 8em + 1rem , 20rem);
    /* height: 25vh; */
    border: 5px solid black;
    border-radius: 10%;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
.pressed{
    border: 5px  solid white;
} 
  
h3{
    font-size: 4.5vw;
}


